<!DOCTYPE html>
<html>
<head>
  <title>Kudos!</title>
  <%= csrf_meta_tags %>

  <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-narrow">
    <div class="masthead">
      <%= render 'layouts/user_header' %>
     </div>
    <%= yield %>
  </div>
</body>
</html>